/* Estilo general de botones */
button, .edit-btn, .delete-btn, .submit-btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Transición suave */
}

/* Estilo del botón de edición */
.edit-btn {
  background-color: #2196F3;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.edit-btn:hover {
  background-color: #1976D2;
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}

/* Estilo del botón de eliminación */
.delete-btn {
  background-color: #F44336;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.delete-btn:hover {
  background-color: #D32F2F;
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}

/* Estilo del botón de envío */
.submit-btn {
  background-color: #ff4c4c;
  color: white;
}

.submit-btn:hover {
  background-color: #e60000;
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}

/* Botones dentro de formularios o dentro de la tarjeta */
button {
  background-color: #2b2b2d;
  color: #e0e0e0;
  border: 1px solid #4a4a4c;
  box-shadow: none;
}

button:hover {
  background-color: #3c3c3f;
  color: #ff4c4c;
  transform: scale(1.05);
}
