<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Groceries</title>
</head>
<body>
    <div data-role="page" id="products">
        <div data-role="header" style="overflow:hidden;">
            <h1>Abarrotes Siddhartha</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
            <div data-role="navbar">
              <ul>
                <li><a href="#products">Productos</a></li>
                <li><a href="#empleoyess">Empleados</a></li>
                <li><a href="#customers">Clientes</a></li>
              </ul>
            </div>
          </div>
    </div>

        
    <div role="main" class="ui-content">
        <form action="" method="POST">
            <div class="card">
                <div class="card-body">
                    <label for="txt_barcode">Codigo de barras</label>
                    <input type="text" name="barcode" id="txt_barcode">
                </div>
            </div>
        </form>
    </div>
    
   

        <div data-role="footer">

        </div>
    </div>
</body>
</html>